<div id="content" data-docs="{{docs}}"></div>
<script src="http://localhost:8090/webpack-dev-server.js"></script>
<script type="text/javascript" src="http://localhost:8090/assets/build/bundle.js"></script>
